<nav class="navbar navbar-expand-md py-4" style="background-color: #92d89d;">
  <div class="container">
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" routerLink="">Início</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="products">Categoria</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact">Contato</a></li>
      </ul>

      <!--Barra de busca-->
      <div class="col-md-8">
        <div class="d-flex form-inputs">
        <input class="form-control" type="text" placeholder="Buscar Produtos...">
        <i class="bx bx-search"></i>
        </div>
           </div>
      <!--/Barra de busca-->

      </div>
      <div >
      <button routerLink="oauth/token" style="color: black;" type="button" class="btn btn-outline-light">Login</button>
    </div>
      <button  routerLink="orders" style="margin-left: 40px; color: black;" type="button" class="btn btn-outline-light">Carrinho</button>

    </div>
</nav>
